@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto, sans-serif
}



.grid{
    display: grid; 
    grid-template-columns: 20% 80%;
}

.sidebar{
    background-color: #0ea5e9;
    height: 100vh;
    color:white;
}

.logo-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 40px;
}

.logo-text h1{

    font-size:25px;

}
.icon-text{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 40px;
}
.icon-text p{
    margin-left: 10px;
    font-size: 20px;
}

.main{
    background-color: white;
    height:100vh;
}
